body{
    margin: 0;
    font-family:"Raleway", sans-serif;
    font-weight: bold;
}
.outer{
    position: absolute;
    background-image: linear-gradient(to bottom right,rgb(113, 12, 113), rgb(212, 0, 255));
    width: 100%;
}
.inner{
    position: absolute;
    display: block;
    margin: 5% auto;
    position: relative;
    box-sizing: border-box;
    width: 84%;
    background-color: #ffffff;
    border-radius: 25px;
    overflow-y:hidden;    
}
.imgbox{
    position:absolute;
    width: 58%;
}
.image{
    display: block;
    margin: 20% auto;
    width: 50%;
}
#lgbtn{
    margin: auto;
    background-color: rgb(0, 255, 76);
    padding: 2.5%;
    color:white;
    border-radius: 25px;
    font-weight: bold;
    font-size:20px;
    width: 84%;
}
@media screen and (max-width: 652px){
    .inner{
        margin: 30% auto;;
    }
    .hideimg{
    display:none;
    }
    .loginbox{
        margin: 7% 0;
        width: 100%;
        text-align: center;
    }
    input{
        margin: 3% 0;
        padding: 2.8%;
        border-radius: 25px;
        width: 73%;
        border: None;
        background-color:rgb(220,220,220);
    }
    #acc{
        position: static;
    }
    h1{
        margin: 0;
        /* padding-top: 15%; */
        padding-bottom: 5%;
    }
    #lgbtn{
        width: 80%;
        margin: 4% auto;
    }
}
@media screen and (min-width: 653px){
    .loginbox{
        margin: 7% 0;
        margin-left: 58%;
        width: 42%;
        text-align: center;
    }
    input{
        border: None;
        background-color: transparent;
        padding: 2.8%;
    }
    #em, #pd{
        text-align: left;
        margin: 4% auto 8% auto;
        border-radius: 25px;
        width: 84%;
        background-color:rgb(220,220,220);
    } 
    h1{
        margin: 0;
        padding-bottom: 3%;
    }  
    .icon{
        margin-left:6% ;
        margin-right: 5%;
    }

}
a{
    color:rgb(0, 255, 64);
    text-decoration:None;
} 
#forgot{
    margin-bottom:15%;
} 
