<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">  
    <link rel="stylesheet" href="styles/stylethat.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap" rel="stylesheet">
    <link rel="icon" href="images/favicon.ico">
    <title>Front page</title>
</head>
<body>
    <section class="boxes" id="box1">
        <h1 class="cont" id="head1">Hi User, Welcome  to Home page</h1>
    </section> 
    <section class="boxes" id="box2">
        <h1 class="cont" id="head2">This is Home page</h1>
    </section>
    <footer class="credit-bar">
        <nav class="made">made by Nitul</nav>
    </footer>
</body>
</html>